/* properties common all over the page */

h2 {
    padding: 25px 10%;
    padding-bottom: 5px;
}

section button {
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px solid;
    font-size: .8rem;
    font-weight: 600;
    margin-top: 20px;
    transition: background-color .3s linear;
}

section button:hover {
    background-color: red;
}

/* =========== hero section ========== */

/* to create the gradient overlay on the background */
.overlay {
    border-image: fill 1 linear-gradient(transparent, black);
}

section.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    /* replace this height with padding */
    /* height: 570px; */
    padding: 100px 10px;
    background-image: url(../images/bg-imgs/bruno-hojlund-amad-unrelated.webp);
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    color: #eee;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.hero-text h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(3.8rem, 11vw, 6rem);
}

.hero-text .manchester {
    color: rgb(219, 27, 27);
    text-shadow: 1px 0 1px white;
}

.hero-text .united {
    color: transparent;
    -webkit-text-stroke: .1px white;
}

.hero-text p {
    padding: 6px 0;
}

.hero-text h2 {
    padding-top: 18px;
    padding-left: 0;
}

.hero-text h2 span {
    color: rgb(219, 27, 27);
}

/* ======= matches section ====== */

/* ----- slider ---- */

section.matches {
    position: relative;
}

.slider {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    background-color: #eee;
    padding: 25px;
    margin: 20px 2%;
    margin-right: 0;
    border-left: 4px solid black;
}

/* to have the blurring effect at the end of slider.
   position is relative to section.matches  */
.slider::after {
    content: '';
    width: 100px;
    height: 416px;
    position:absolute;
    right: 0;
    top: 81.5px;
    background-image: linear-gradient(to right, transparent, #eee 80%);
}

/* -------- match card ------- */

.match-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 10px;
    padding: 10px;
    border-radius: 11px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.competition-logo {
    height:130px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.competition-logo.friendly p {
    width: 100%;
    font-weight: 900;
    font-size: 1.4rem;
    color: rgb(123, 57, 57);
    text-align: center;
}

/* the europa league logo i have got is too large. to fix it: */
img.europa {
    width:84px;
    height: auto;
}

.match-date {
    font-size: .8rem;
    color: hsl(0, 100%, 58%);
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-top: 5px;
}

.result {
    padding-bottom: 10px;
    font-weight: 900;
    color: rgb(101, 24, 38);
}

.match-status {
    padding-bottom: 5px;
    font-weight: 600;
    letter-spacing: .12rem;
}

.win-status {
    width: 40px;
    height: 3px;
    border-radius: 16px;
}

/* color codes of win, lose, draw and pending games*/
.win-status.pending {
    background-color: grey;
}
.win-status.win {
    background-color: yellowgreen;
    box-shadow: 0 0 4px yellowgreen;
}
.win-status.lose {
    background-color: red;
    box-shadow: 0 0 3px red;
}
.win-status.draw {
    background-color: blue;
    box-shadow: 0 0 2px blue;
}

/* MATCH PREVIEW button */
.stat-button:hover {
    color: #eee;
}

/* if the match is a future one */
.stat-button.pending:hover {
    background-color: hsl(0, 0%, 90%);
    color: black;
}

/* ===== youtube vedio form the man u channel */

.yt-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
    position: relative;
}

.yt-video h2 {
    position: absolute;
    left: 0;
    top: 18px;
}

.yt-video iframe {
    width: 80%;
    height: 30vw;
}

.yt-video h1 {
    width: 80%;
    padding: 10px 0;
    background-color: hsl(0, 0%, 90%);
    font-size: clamp(.7rem, 4vw, 1.79rem);
}

/* ====== articles section ====== */

/* --------- article card ------------ */

section.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: min(30px, 2%);
    gap: 20px;
}
/* ********************************************************************************* */
/* ********************************************************************************* */
article {
    display: flex;
    flex-shrink: 1;
    position: relative;
    max-width: min-content;
    overflow: hidden;
    /* font-size: clamp(.8rem, 1.03vw, 1.1rem); */
    border-radius: 8px;
    box-shadow: 1px 1px 5px hsl(0, 0%, 20%);
}

/* to have a gradient between the text and image */
article .article-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, black 96%);
}

/* to have the image magnifying effect when hovering */
.img-wrapper {
    transition: scale .39s ease-in;
    flex-shrink: 1;
}
/* hover on this because this is sitting on top of the image */
.img-wrapper:hover {
    scale: 1.02;
}

article img {
    max-width: 500px;
    max-height: 280px;
    min-width: 350px;
}


.article-text {
    flex-shrink: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 15px 10px;
    padding-top: 0;
}

.article-text p {
    text-wrap: wrap;
}

/* ******************************************************** */
/* ******************************************************** */
article h1 {
    /* font-size: 1.7rem; */
    font-size: clamp(1.17em, 8vw,1.7rem);
}

.read-more-button {
    background-color: transparent;
    color: white;
}

.read-more-button:hover {
    border: 1px solid red;
}

.more-articles-button {
    background-image: linear-gradient(to right top, red, black);
    color: white;
    border: none;
    transition: transform .2s linear;
    font-size: 1rem;
    box-shadow: 1px 1px 5px hsl(0, 0%, 10%);
}
.more-articles-button:hover {
    transform: scaleX(1.2);
    background-color: rgb(198, 13, 13);
}

/* ==== sponsors section ==== */

.sponsor-slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 100px 5%;
}

.sponsor-slider img {
    height: 36px;
    width: auto;
}

@media screen and (max-width: 534px) {
    article .img-container img {
        width: 100px;
    }
}